@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import url('https://fonts.googleapis.com/css?family=Montserrat');

*{
    font-family: Montserrat, sans-serif;
}

h1{
    text-align: center;
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    font-feature-settings: 'liga';
}

.flexGrid{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.movieIdInput{
    min-width: 200px;
}

.card{
    margin: 10px;
    width: 20vw;
    min-width: 248px;
    padding: 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

iframe{
    min-width: 200px;
    width: 100%;
    background-color: #000000;
    border: 1px solid black;
}

.spacer {
    flex: 1 1 auto;
}

.space{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.boxContent{
    font-size: 0.8em;
    color: grey;
}

#viewCountsIcon, #likeCountsIcon{
    line-height: 1em;
    font-size: 1em;
    height: 1em;
    width: 1em;
}

.toolbar, .paginator{
    margin: 10px 0;
}

.actionButtons{
    display:flex;
    justify-content: space-evenly
}

.icon {
    padding: 0 0px;
}
