<h1>MOVIE GALLERY</h1>
<!-- <div *ngIf="!grid">
  <mat-list>
    <mat-list-item *ngFor="let movie of movies">
    </mat-list-item>
  </mat-list>
</div> -->

<mat-grid-list role="list" cols=3 gutterSize="10" *ngIf="grid">
  <mat-grid-tile role="listitem" *ngFor="let movie of movies; let i=index">
    <div>
      <div>
        <iframe [src]="prefix+movie['id'] | safe"></iframe>
      </div>
      <div>
        <div>{{movie.snippet.title}}</div>
        <div>{{movie.statistics.viewCount}}</div>
        <div>{{movie.statistics.likeCount}}</div>
      </div>
    </div>
  </mat-grid-tile>
</mat-grid-list>